{% extends "base.html" %} {% block title %}Employee Health{% endblock %}
{% block content %}
<h4>Employee Health</h4>
<br/>
<ol class="list-group list-group-flush" id="profile_info">
    {% for health in user.emp_health %}
    <li class="list-group-item">

        <div><label><b>Annual Employee Health Assessments: </b></label> {{health.health_assessment}}</div>
        <div><label><b>COVID-19 Information: </b></label> {{health.covid}}</div>
        <div><label><b>N95 Mask Fitting/Respirator Certification: </b></label> {{health.n95}}</div>
        <div><label><b>Vaccinations &/or Declinations: </b></label> {{health.vaccination}}</div>
        <div><label><b>Miscellaneous: </b></label> {{health.misc}}</div>

        <div><label><i>Last Updated: </i></label> {{health.update}}</div>
        <button type="button" class="close" onClick="deleteEmp_health({{ health.id }})">Clear Data
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ol>
<br/>

<h5>Enter Information</h5>
<br/>
<form method="POST">
    <div class="form-group">
        <label for="assessment">Annual Employee Health Assessments</label>
        <input 
            type="text"
            class="form-control"
            id="assessment"
            name="assessment"
            placeholder="Enter Annual Employee Health Assessments"
            value="{{ data[1] }}">
    </div>

    <div class="form-group">
        <label for="covid">COVID-19 Information</label>
        <input 
            type="text"
            class="form-control"
            id="covid"
            name="covid"
            placeholder="Enter COVID-19 Information"
            value="{{ data[2] }}">
    </div>
    <div class="form-group">
        <label for="n95">N95 Mask Fitting/Respirator Certification</label>
        <input 
            type="text"
            class="form-control"
            id="n95"
            name="n95"
            placeholder="Enter N95 Mask Fitting/Respirator Certification"
            value="{{ data[3] }}">
    </div>
    <div class="form-group">
        <label for="vaccine">Vaccinations &/or Declinations</label>
        <input 
            type="text"
            class="form-control"
            id="vaccine"
            name="vaccine"
            placeholder="Enter Vaccinations &/or Declinations"
            value="{{ data[4] }}">
    </div>
    <div class="form-group">
        <label for="misc">Miscellaneous</label>
        <input 
            type="text"
            class="form-control"
            id="misc"
            name="misc"
            placeholder="Enter Miscellaneous"
            value="{{ data[5] }}">
    </div>



    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endblock %}