{% extends "base.html" %} {% block title %}Equipment & IT{% endblock %}
{% block content %}
<h4>Electronic Equipment & IT</h4>
<br/>
<ol class="list-group list-group-flush" id="profile_info">
    {% for vari in user.equipment_it %}
    <li class="list-group-item">
        <div><label><b>Employee Application Access Request &/or Approval: </b></label> {{vari.app_access}}</div>
        <div><label><b>Employee Issued Electronics: </b></label> {{vari.electronics}}</div>
        <div><label><b>VPN Information: </b></label> {{vari.vpninfo}}</div>
        <div><label><b>Miscellaneous: </b></label> {{vari.misc}}</div>
        <div><label><i>Last Updated: </i></label> {{vari.update}}</div>
        <button type="button" class="close" onClick="deleteEquipment({{ vari.id }})">Clear Data
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ol>
<br/>
<h5>Enter Information</h5>
<br/>
<form method="POST">
    <div class="form-group">
        <label for="app_access">Employee Application Access Request &/or Approval</label>
        <input 
            type="text"
            class="form-control"
            id="app_access"
            name="app_access"
            placeholder="Enter Application Access Request/Approval"
            value="{{ data[1] }}">
    </div>

    <div class="form-group">
        <label for="electronics">Employee Issued Electronics</label>
        <input 
            type="text"
            class="form-control"
            id="electronics"
            name="electronics"
            placeholder="Enter Employee Issued Electronics"
            value="{{ data[2] }}">
    </div>

    <div class="form-group">
        <label for="vpninfo">VPN Information</label>
        <input 
            type="text"
            class="form-control"
            id="vpninfo"
            name="vpninfo"
            placeholder="Enter VPN Information"
            value="{{ data[3] }}">
    </div>

    <div class="form-group">
        <label for="misc">Miscellaneous</label>
        <input 
            type="text"
            class="form-control"
            id="misc"
            name="misc"
            placeholder="Enter Miscellaneous"
            value="{{ data[4] }}">
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endblock %}
