{% extends "base.html" %} {% block title %}Admin{% endblock %}
{% block content %}
<br/>
<h4>Welcome to the Admin page.</h4>
<p>Database tables can be viewed here. Tables should also be able to be exported as excel files.</p>
<br/>

<!-- <b>Demographics:</b>
{% for i in data %}
    <p>{{i}}</p>
{% endfor %}

<b>Certificates:</b>
{% for i in data2 %}
    <p>{{i}}</p>
{% endfor %}

<b>Clinical Education:</b>
{% for i in data3 %}
    <p>{{i}}</p>
{% endfor %}

<b>Employee Notes:</b>
{% for i in data4 %}
    <p>{{i}}</p>
{% endfor %} -->

<b>Employees:</b>
{% for i in total %}
    <p>{{i}}</p>
{% endfor %}



{% endblock %}
