<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <title>{% block title %}Home{% endblock %}</title>
    </head>
 
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                    <a class="nav-item nav-link" id="demographics" href="/demographics">Demographics</a>
                    <a class="nav-item nav-link" id="certificates" href="/certificates">Certificates</a>
                    <a class="nav-item nav-link" id="clinicaleducation" href="/clinical-education">Clinical Education</a>
                    <a class="nav-item nav-link" id="employeenotes" href="/employee-notes">Employee Notes</a>
                    <a class="nav-item nav-link" id="equipment&it" href="/equipment&it">Electronic Equipment & IT</a>
                    <a class="nav-item nav-link" id="employeehealth" href="/employee-health">Employee Health</a>
                    <a class="nav-item nav-link" id="humanresources" href="/human-resources">Human Resources</a>
                    <a class="nav-item nav-link" id="laborrelations" href="/labor-relations">Labor Relations</a>
                    <a class="nav-item nav-link" id="newhires" href="/new-hires">New Hires</a>
                    <a class="nav-item nav-link" id="payroll" href="/payroll">Payroll</a>
                    <a class="nav-item nav-link" id="timekeeping" href="/timekeeping">Timekeeping</a>
                    <a class="nav-item nav-link" id="forms" href="/forms">Forms</a>
                    <a class="nav-item nav-link" id="admin" href="/admin">Admin</a>
                    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                    <a class="nav-item nav-link" id="signup" href="/sign-up">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %} 
            {% for category, message in messages %}
            {% if category =='Error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
             </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <br/>
        <img src="static/sbmlogo.jpg" align="left"alt="SBM Logo" width="233" height="44"/>
        <img src="static/sbushp.jpg" align="right"alt="SBU Logo" width="270" height="50"/>
        <br/><br/><br/>
        <h3 align="center">Stony Brook Medicine Employee Portal</h3>
        <h6 align="center"><i>Powered by EnvisionHealth IT</i></h6>
        <br/>

        <div class="container">{% block content %}{% endblock %}</div>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static',filename='index.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static',filename='index2.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static',filename='index3.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static',filename='index4.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static',filename='index5.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static',filename='index6.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static',filename='index7.js')}}"
        ></script>


        <script
            type="text/javascript"
            src="{{ url_for('static',filename='forms.js')}}"
        ></script>
        <center>
            <img src="static/EHITlogo.jpeg" align="center"alt="EHIT Logo" width="600" height="300"/>
        </center>
        <br/><br/><br/><br/>
    </body>
</html>