{% extends "base.html" %} {% block title %}Demographics{% endblock %}
{% block content %}
<h4>Employee Demographics</h4>
<br/>
<ol class="list-group list-group-flush" id="profile_info">
    {% for prof in user.profile_info %}
    <li class="list-group-item">
        <div><label><b>First Name: </b></label> {{prof.fname}}</div>
        <div><label><b>Last Name: </b></label> {{prof.lname}}</div>
        <div><label><b>Position: </b></label> {{prof.position}}</div>
        <div><label><b>PDF: </b></label> {{prof.filename}}</div>
        <button type="button" class="close" onClick="deleteProfile({{ prof.id }})">Clear Data
            <span aria-hidden="true">&times;</span>
        </button>
        <a href="{{ url_for('views.download',upload_id=prof.id)}}">Download File</a>
    </li>
    {% endfor %}
</ol>
<br/>
<h5>Enter Information</h5>
<br/>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="fname">First Name</label>
        <input 
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            placeholder="Enter first name"
            value="{{ request.form['fname'] }}"
        />
    </div>

    <div class="form-group">
        <label for="lname">Last Name</label>
        <input 
            type="text"
            class="form-control"
            id="lname"
            name="lname"
            placeholder="Enter last name"
            value="{{ request.form['lname'] }}"
        />
    </div>

    <div class="form-group">
        <label for="position">Position</label>
        <input 
            type="text"
            class="form-control"
            id="position"
            name="position"
            placeholder="Enter position title"
            value="{{ request.form['position'] }}"
        />
    </div>
    <div class="for-group">
        <label for="file">Upload Employee PDF</label>
        <input 
            type="file"
            class="form-control"
            id="file"
            name="file"
            value="{{ request.form['file'] }}"
        />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endblock %}
