{% extends "base.html" %} {% block title %}Demographics{% endblock %}
{% block content %}
<h4>Employee Demographics</h4>
<br/>
<ol class="list-group list-group-flush" id="profile_info">
    {% for demo in user.demo_info %}
    <li class="list-group-item">
        <div><label><b>First Name: </b></label> {{demo.fname}}</div>
        <div><label><b>Last Name: </b></label> {{demo.lname}}</div>
        <div><label><b>Alias/Maiden Name: </b></label> {{demo.maiden}}</div>
        <div><label><b>Position: </b></label> {{demo.position}}</div>
        <div><label><i>Last Updated: </i></label> {{demo.date}}</div>
        <button type="button" class="close" onClick="deleteProfile({{ demo.id }})">Clear Data
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ol>
<br/>
<h5>Enter Information</h5>
<br/>
<form method="POST">
    <div class="form-group">
        <label for="fname">First Name</label>
        <input 
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            placeholder="Enter first name"
            value="{{ data[0][0] }}"
            >
    </div>

    <div class="form-group">
        <label for="lname">Last Name</label>
        <input 
            type="text"
            class="form-control"
            id="lname"
            name="lname"
            placeholder="Enter last name"
            value="{{ data[0][1] }}">

    </div>

    <div class="form-group">
        <label for="maiden">Alias or Maiden Name</label>
        <input 
            type="text"
            class="form-control"
            id="maiden"
            name="maiden"
            placeholder="Enter alias or maiden name"
            value="{{ data[0][2] }}">
    </div>

    <div class="form-group">
        <label for="position">Position</label>
        <input 
            type="text"
            class="form-control"
            id="position"
            name="position"
            placeholder="Enter position title"
            value="{{ data[0][3] }}">

    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endblock %}
