{% extends "base.html" %} {% block title %}Forms{% endblock %}
{% block content %}
<h4>Employee Forms</h4>
<br/>
<ol class="list-group list-group-flush" id="profile_info">
    {% for form in user.form_info %}
    <li class="list-group-item">
        <div>
            <span><label><b>Kronos Access Form: </b></label> {{form.kronos}}</span>
            <span><a href="{{ url_for('views.kronos_download',upload_id=form.id)}}">Download</a></span>
        </div>
        <div>
            <span><label><b>Performance Progress Form: </b></label> {{form.performance}}</span>
            <span><a href="{{ url_for('views.performance_download',upload_id=form.id)}}">Download</a></span>
        </div>
        <div>
            <span><label><b>Attestation Competency Form: </b></label> {{form.attestation}}</span>
            <span><a href="{{ url_for('views.attestation_download',upload_id=form.id)}}">Download</a></span>
        </div>
        <div>
            <span><label><b>WO IV Contrast Injection Certification Form: </b></label> {{form.ivcontrast}}</span>
            <span><a href="{{ url_for('views.ivcontrast_download',upload_id=form.id)}}">Download</a></span>
        </div>
        <div>
            <span><label><b>Instructional Support Performance Form: </b></label> {{form.supportperform}}</span>
            <span><a href="{{ url_for('views.supportperform_download',upload_id=form.id)}}">Download</a></span>
        </div>
        <div>
            <span><label><b>Counseling Memorandum Form: </b></label> {{form.couns}}</span>
            <span><a href="{{ url_for('views.coun_download',upload_id=form.id)}}">Download</a></span>
        </div>
        <div>
            <span><label><b>Annual Competency Form: </b></label> {{form.hybrid}}</span>
            <span><a href="{{ url_for('views.hybrid_download',upload_id=form.id)}}">Download</a></span>
        </div>
    
        <button type="button" class="close" onClick="deleteForm({{ form.id }})">Clear Data
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ol>
<br/>

<h5>Enter Information</h5>
<br/>
<form method="POST" enctype="multipart/form-data">

    <div class="for-group">
        <label for="file1">Upload Kronos Access Form</label>
        <input 
            type="file"
            class="form-control"
            id="file1"
            name="file1"
            value="{{ request.form['file1'] }}"
        />
    </div>
    <br/>
    <div class="for-group">
        <label for="file2">Upload Performance Progress Form</label>
        <input 
            type="file"
            class="form-control"
            id="file2"
            name="file2"
            value="{{ request.form['file2'] }}"
        />
    </div>
    <br/>
    <div class="for-group">
        <label for="file3">Upload Attestation Competency Form</label>
        <input 
            type="file"
            class="form-control"
            id="file3"
            name="file3"
            value="{{ request.form['file3'] }}"
        />
    </div>
    <br/>
    <div class="for-group">
        <label for="file4">Upload WO IV Contrast Injection Certification Form</label>
        <input 
            type="file"
            class="form-control"
            id="file4"
            name="file4"
            value="{{ request.form['file4'] }}"
        />
    </div>
    <br/>
    <div class="for-group">
        <label for="file5">Upload Instructional Support Performance Form</label>
        <input 
            type="file"
            class="form-control"
            id="file5"
            name="file5"
            value="{{ request.form['file5'] }}"
        />
    </div>
    <br/>
    <div class="for-group">
        <label for="file6">Upload Counseling Memorandum Form</label>
        <input 
            type="file"
            class="form-control"
            id="file6"
            name="file6"
            value="{{ request.form['file6'] }}"
        />
    </div>
    <br/>
    <div class="for-group">
        <label for="file7">Upload Annual Competency Form</label>
        <input 
            type="file"
            class="form-control"
            id="file7"
            name="file7"
            value="{{ request.form['file7'] }}"
        />
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endblock %}
