{% extends "base.html" %} {% block title %}New Hires{% endblock %}
{% block content %}
<h4>New Hire Onboarding/Recruitment/TALEO</h4>
<br/>
<ol class="list-group list-group-flush" id="profile_info">
    {% for hire in user.newhires %}
    <li class="list-group-item">
        <div><label><b>Employee Application &/or Resume: </b></label> {{hire.resume}}</div>
        <div><label><b>Employee Job Offer & Draft: </b></label> {{hire.offer}}</div>
        <div><label><b>Employee Offer Acceptance: </b></label> {{hire.acceptance}}</div>
        <div><label><b>Employee Reference Report: </b></label> {{hire.reference}}</div>
        <div><label><b>Internal/Internal Posting: </b></label> {{hire.internal}}</div>
        <div><label><b>Interview Questionnaires: </b></label> {{hire.interview}}</div>
        <div><label><b>Requisition Approval & Job Posting: </b></label> {{hire.requisition}}</div>
        <div><label><b>Miscellaneous: </b></label> {{hire.misc}}</div>


        <div><label><i>Last Updated: </i></label> {{hire.update}}</div>
        <button type="button" class="close" onClick="deleteNewhires({{ hire.id }})">Clear Data
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ol>
<br/>
<h5>Enter Information</h5>
<br/>
<form method="POST">
    <div class="form-group">
        <label for="resume">Employee Application &/or Resume</label>
        <input 
            type="text"
            class="form-control"
            id="resume"
            name="resume"
            placeholder="Enter Employee Application &/or Resume"
            value="{{ data[1] }}"/>
    </div>

    <div class="form-group">
        <label for="offer">Employee Job Offer & Draft</label>
        <input 
            type="text"
            class="form-control"
            id="offer"
            name="offer"
            placeholder="Enter Employee Job Offer & Draft"
            value="{{ data[2] }}"/>
    </div>

    <div class="form-group">
        <label for="acceptance">Employee Offer Acceptance</label>
        <input 
            type="text"
            class="form-control"
            id="acceptance"
            name="acceptance"
            placeholder="Enter Employee Offer Acceptance"
            value="{{ data[3] }}"/>
    </div>

    <div class="form-group">
        <label for="reference">Employee Reference Report</label>
        <input 
            type="text"
            class="form-control"
            id="reference"
            name="reference"
            placeholder="Enter Employee Reference Report"
            value="{{ data[4] }}"/>
    </div>

    <div class="form-group">
        <label for="internal">Internal/Internal Posting</label>
        <input 
            type="text"
            class="form-control"
            id="internal"
            name="internal"
            placeholder="Enter Internal/Internal Posting"
            value="{{ data[5] }}"/>
    </div>

    <div class="form-group">
        <label for="interview">Interview Questionnaires</label>
        <input 
            type="text"
            class="form-control"
            id="interview"
            name="interview"
            placeholder="Enter Interview Questionnaires"
            value="{{ data[6] }}"/>
    </div>

    <div class="form-group">
        <label for="requisition">Requisition Approval & Job Posting</label>
        <input 
            type="text"
            class="form-control"
            id="requisition"
            name="requisition"
            placeholder="Enter Requisition Approval & Job Posting"
            value="{{ data[7] }}"/>
    </div>

    <div class="form-group">
        <label for="misc">Miscellaneous</label>
        <input 
            type="text"
            class="form-control"
            id="misc"
            name="misc"
            placeholder="Enter Miscellaneous"
            value="{{ data[8] }}"/>
    </div>






    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endblock %}
